<?xml version="1.0"?>
<config>
    <modules>
        <DT_QuickCheckout>
            <version>0.1.0</version>
        </DT_QuickCheckout>
    </modules>
    <global>
        <blocks>
            <dt_quickcheckout>
                <class>DT_QuickCheckout_Block</class>
            </dt_quickcheckout>
        </blocks>
        <helpers>
            <dt_quickcheckout>
                <class>DT_QuickCheckout_Helper</class>
            </dt_quickcheckout>
        </helpers>
    </global>
    <frontend>
        <routers>
            <dt_quickcheckout>
                <use>standard</use>
                <args>
                    <module>DT_QuickCheckout</module>
                    <frontName>quickCheckout</frontName>
                </args>
            </dt_quickcheckout>
            <checkout>
                <args>
                    <modules>
                        <dt_quickcheckout before="Mage_Checkout">DT_QuickCheckout</dt_quickcheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <DT_QuickCheckout>
                    <files>
                        <default>DT_QuickCheckout.csv</default>
                    </files>
                </DT_QuickCheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <dt_quickcheckout>
                    <file>dt/quick_checkout.xml</file>
                </dt_quickcheckout>
            </updates>
        </layout>
    </frontend>
</config>